
body {
  background: url(https://png.pngtree.com/background/20211215/original/pngtree-rainy-weather-picture-image_1483256.jpg) no-repeat ;
  background-size: cover;
  opacity: 0.7;
  height: 1280px;
}


.App {
  text-align: center;

}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

